build/
cmake-build-*/
bin/
obj/
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride
.vscode/
*.code-workspace
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Makefile
install_manifest.txt
*.make
*.o
*.obj
*.so
*.dylib
*.a
*.out
*.exe
*.app
*.dSYM/
*.su
*.idb
*.pdb
*.gcno
*.gcda
*.gcov
*.log
*.tmp
*.swp
*~